Package: com.iter99.gester13
Name: Gester13
Depends: mobilesubstrate
Version: 3.0.1
Architecture: iphoneos-arm
Description: iPhone 8 and older feature.
Maintainer: iTer99 <hoan.nguyen.16999@gmail.com>
Author: iTer99 <hoan.nguyen.16999@gmail.com>
Section: Tweaks
